/* Variables */
:root {
  --main-color: #e52521;
  --second-color: #000;
  --side-menu-text-color: #fff;
  --side-menu-section-head-color: #fff;
  --side-menu-brand-text-color: #fff;
  --side-menu-background-color: #e52521;
  --site-section-main-title-color: #000;
}

::-webkit-scrollbar,
.card .card-body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track,
.card .card-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb,
.card .card-body::-webkit-scrollbar-thumb {
  background: var(--main-color, #000);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.card .card-body::-webkit-scrollbar-thumb:hover {
  background: var(--main-color, #000);
}

input,
textarea,
select {
  height: 56px !important;
  border: solid 1px #eee !important;
  background-color: #fff;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #212427;
  padding: 20px 29px !important;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-radius: 30px !important;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border-color: var(--main-color) !important;
  box-shadow: unset !important;
}

input::placeholder {
  color: #aaaaaa;
}

textarea {
  height: 159px !important;
  width: 100%;
  resize: none;
}

select {
  position: relative;
  padding: 0 !important;
  padding-inline-start: 29px !important;
  min-width: 200px;
  /* -webkit-appearance: none;
  appearance: none; */
}

/* select::after {
  content: "\f078";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 20px;
} */

nav {
  padding-bottom: 0;
}

nav .fa-bars {
  font-weight: 900;
  font-size: 20px;
  color: var(--main-color);
  padding: 0;
}

nav form {
  border: 1px solid var(--main-color);
  border-radius: 30px;
  overflow: hidden;
  width: 30%;
  height: 46px;
}

@media screen and (max-width: 500px) {
  nav form {
    width: 100%;
  }
}

nav form .input-group {
  width: 100% !important;
  height: 100%;
  margin: 0;
}

nav form .input-group input {
  height: 100% !important;
  background-color: transparent !important;
  padding: 0 20px !important;
  border: none !important;
}

nav .btn {
  background-color: transparent !important;
}

nav .btn i {
  color: var(--main-color);
  font-size: 18px;
}

.logout {
  background: var(--main-color) !important;
  height: 100% !important;
}

.breadcrumb a {
  color: var(--main-color);
}

.main-sidebar {
  background-color: var(--side-menu-background-color, #343a40) !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) !important;
  transition: 0.5s !important;
}

.main-sidebar .nav-item .nav-link {
  color: var(--side-menu-text-color, #fff) !important;
}

/* @media screen and (max-width:500px) {
  .main-sidebar {
    overflow: visible !important;
  }

  .main-sidebar::after {
    position: absolute;
    content: "";
    top: 0;
    inset-inline-start: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s !important;
  }

  .sidebar-open .main-sidebar::after {
    visibility: visible !important;
    opacity: 1;
  }
}

.sidebar-open .main-sidebar {
  transition: 0.5s !important;
} */

.main-sidebar .brand-link {
  border-color: #fff;
  color: var(--side-menu-brand-text-color, #fff) !important;
}

.nav-sidebar .nav-item > .nav-link:hover {
  color: var(--side-menu-text-color, #fff) !important;
  background-color: rgba(225, 255, 255, 0.3) !important;
}

.brand-link .brand-text {
  font-weight: 700 !important;
  font-size: 25px !important;
}

.nav-sidebar .nav-header {
  font-weight: 700 !important;
  color: var(--side-menu-section-head-color, #fff) !important;
  border: none;
  /* background-color: rgba(225, 255, 255, 0.25); */
  border-radius: 5px;
  padding:  10px 0 !important;
  margin-bottom: 10px;
  width: fit-content !important;
  margin-inline-start: 20px !important;
  position: relative;
  overflow: visible;

}
/* 
.nav-sidebar .nav-header::before {
  content: "\f0a5";
  font-family: "Font Awesome 5 Free";
  border-radius: 10px;
  margin-inline-end: 10px;
  inset-inline-start: 0;
  font-size: 22px;
  top: 0;
} */

.nav-sidebar .nav-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: var(--side-menu-text-color, #fff);
}

.menu-open {
  color: #fff !important;
  background-color: transparent !important;
}

.menu-open .nav-item .nav-link {
  color: #fff !important;
  padding-inline-start: 30px;
}

.menu-open .nav-item .nav-link i{
  font-size: 15px !important;
}

.menu-open .nav-treeview {
  background-color: rgba(225, 255, 255, 0.1) !important;
}

.content-header {
  padding: 20px 0;
}

.content-header h1 {
  position: relative;
  font-size: 25px;
  font-weight: 900;
  padding-inline-start: 15px;
  color: var(--site-section-main-title-color, #000);
}

.content-header h1::before {
  content: "";
  height: 100%;
  background-color: var(--main-color, #000);
  width: 5px;
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  border-radius: 10px;
}

.small-box {
  background-color: #fff !important;
  color: #212427 !important;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  height: 159px;
  position: relative !important;
}

.small-box .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-box .small-box-footer {
  background-color: #fff;
  color: #212427 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  transition: 0.5s;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.small-box .small-box-footer:hover {
  background-color: #fff;
  color: #212427 !important;
  gap: 10px;
}

.small-box:hover .small-box-footer {
  height: 50px;
  visibility: visible;
  opacity: 1;
}

.small-box:hover .icon > i.ion {
  font-size: 70px !important;
}

.card {
  border-radius: 30px !important;
  overflow: hidden !important;
  border: none !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) !important;
}

.card .card-header {
  background-color: var(--main-color) !important;
  padding: 20px 30px;
  height: 70px;
  display: flex;
  align-items: center;
}

.card .card-header .card-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.card .card-header .btn,
.card .card-header .card-tools {
  background-color: transparent !important;
  margin-inline-start: auto !important;
}

.card .card-header .btn:focus,
.card .card-header .btn:active {
  border: none;
  outline: none;
}

.card .card-header .btn i {
  color: #fff !important;
}

.card .card-header .mlink {
  background-color: var(--second-color, #000) !important;
  border: 1px solid var(--second-color, #000) !important;
  color: #fff !important;
  border-radius: 20px;
  padding: 10px 20px;
  margin-inline-start: auto !important;
  transition: 0.5s;
}

.card .card-header .mlink i {
  color: #fff !important;
  transition: 0.5s;
}

.card .card-header .dropdown-toggle{
  color: #fff;
  padding: 5px 10px;
  padding-inline-end: 25px;
  display:flex;
  justify-content: flex-start !important;
  position: relative;
}

.card .card-header .dropdown-toggle::after{
  filter: brightness(0)invert(1);
  position: absolute;
  
  
}

.card .card-header .mlink:hover {
  background-color: var(--main-color) !important;
  color: #fff !important;
}

.card .card-header .mlink:hover i {
  color: #fff !important;
}

.card .card-body {
  overflow-x: scroll;
}

.card .card-body .nav-tabs {
  border: none !important;
  gap: 15px;
  margin-bottom: 20px;
}

.card .card-body .nav-tabs a {
  border: 1px solid var(--main-color);
  padding: 5px 30px;
  border-radius: 30px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
}

.card .card-body .nav-tabs a.active {
  background-color: var(--main-color);
  color: #fff;
}

.card .card-footer {
  background-color: #fff;
  padding: 20px 30px;
}

.card .card-footer .btn {
  background-color: var(--second-color);
  border-color: var(--second-color);
  border-radius: 30px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 50px;
  transition: 0.5s;
}

@media screen and (max-width: 500px) {
  .card .card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card .card-footer i {
  position: static !important;
  background: transparent !important;
  color: #fff !important;
  width: fit-content !important;
  height: fit-content !important;
  transition: 0.5s;
}

.card .card-footer .btn:hover {
  background-color: #fff;
  color: var(--second-color);
}

.card .card-footer .btn:hover i {
  color: var(--main-color) !important;
}
table {
  border: none !important;
}

table thead th {
  border: none !important;
}

table tbody td,
table tbody th {
  border: none !important;
  border-top: 1px solid #eaeaec !important;
}

table tbody tr {
  background-color: transparent !important;
}

table .mlink {
  background-color: transparent !important;
  border: none !important;
  color: var(--main-color, #000);
  font-size: 20px !important;
}

table .removethis,
table .remove_contact {
  background-color: transparent !important;
  border: none !important;
  color: red;
  font-size: 20px !important;
}

table .removethis:hover,
table .remove_contact:hover,
table .mlink:hover {
  color: #000;
}

.form-group .input-group {
  min-width: 100% !important;
}

/* .mycustom-file {
  min-width: 100%;
} */

/* .mycustom-file .image {
  margin: 0;
  display: flex;
  height: fit-content;
  position: relative;
  padding-bottom: 50%;
  display: flex;
} */

/* .mycustom-file .image img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
} */

.mycustom-file .image i {
  margin: 0;
  margin-bottom: -83px;
  margin-top: 80px;
}

.dt-button {
  height: 46px !important;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(102, 108, 255, 0.15) !important;
  color: rgba(102, 108, 255, 1) !important;
  transition: 0.5s;
}

.dt-button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dt-button i {
  color: rgba(102, 108, 255, 1) !important;
  margin-inline-end: 5px;
  transition: 0.5s;
}

.dt-button:hover {
  background-color: rgba(102, 108, 255, 1) !important;
  color: #fff !important;
}

.dt-button:hover i {
  color: #fff !important;
}

.contactsDiv input {
  min-width: 300px;
}

table {
  table-layout: auto !important;
}
th,
td,
thead th,
tbody td,
tfoot td,
tfoot th {
  min-width: 100% !important;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 

}

.rolescheck {
  height:30px !important;
  margin-bottom:5px;
}

.select2-search__field {
  border-radius: 5px !important;
  border-color: #000 !important;
  min-width: 25px !important;
  max-width: fit-content !important;
  padding: 0 !important;
  height: 100% !important;
  font-size: 14px !important;
}

.select2-search__field:hover,
.select2-search__field:focus {
  border-color: #007bff !important;
}